@import "../var";

.about {
  &__title {
    margin: 0;
    padding: 100px;
    font-size: 3rem;
    color: #fff;
    line-height: 1.5;
    background-color: $item-bg;
  }

  &__subTitle {
    margin: 0;
    padding: 50px 200px 10px;
    font-size: 2.3rem;
    line-height: 1.8;
    text-align: left;
    color: $main-font;
    background-color: $bg;
  }
  &__text {
    margin: 0;
    padding: 10px 200px;
    font-size: 1.12rem;
    line-height: 1.8;
    text-align: left;
    color: $main-font;
    background-color: $bg;
  }
}
